@import url(https://fonts.googleapis.com/css2?family=Arimo&display=swap);
body{
    font-family:'Arimo',sans-serif;
    margin: 0;
    padding: 0;
}

/* Partie header */
header{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 20px;
}
header.left,.right{
    display: flex;
    flex-wrap: wrap;
}
header p{
    margin-right: 10px;
    color: #787878;
    cursor: pointer;
}
/* Fin de la partie header*/

footer{
    background-color: #E8E8E8;

}